<p id="notice"><%= notice %></p>

<h1>Listing Tasks</h1>

<h2>To Do</h2>

<table>
  <thead>
    <tr>
      <th>Content</th>
      <th>State</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @to_do.each do |todo| %>
      <tr>
        <td><%= todo.content %></td>
        <td><%= todo.state %></td>
        <td><%= link_to 'Show', todo %></td>
        <td><%= link_to 'Edit', edit_task_path(todo) %></td>
        <td><%= link_to 'Destroy', todo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Task', new_task_path %>


<h2>Doing</h2>

<table>
  <thead>
  <tr>
    <th>Content</th>
    <th>State</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @doing.each do |doing| %>
      <tr>
        <td><%= doing.content %></td>
        <td><%= doing.state %></td>
        <td><%= link_to 'Show', doing %></td>
        <td><%= link_to 'Edit', edit_task_path(doing) %></td>
        <td><%= link_to 'Destroy', doing, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<h2>Done</h2>

<table>
  <thead>
  <tr>
    <th>Content</th>
    <th>State</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @done.each do |done| %>
      <tr>
        <td><%= done.content %></td>
        <td><%= done.state %></td>
        <td><%= link_to 'Show', done %></td>
        <td><%= link_to 'Edit', edit_task_path(done) %></td>
        <td><%= link_to 'Destroy', done, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
  </tbody>
</table>
