<p id="notice"><%= notice %></p>
<div class="form-signin">
  <div class="row">
    <strong>Content</strong>
    <%= @task.content %>
  </div>

  <div class="row">
    <strong>State</strong>
    <%= @task.state %>
  </div>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>