!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Samplestuk
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    / <p class="notice"><haml_loud> notice </haml_loud></p>
    / <p class="alert"><haml_loud> alert </haml_loud></p>
    = csrf_meta_tags
  %body
    = render 'layouts/header'
    .container
      - flash.each do |type, message|
        %div{:class => "alert #{bootstrap_class_for(type)} fade in"}
          %button.close{"data-dismiss" => "alert"} ×
          = message
      = yield
